:root {
    --header-height: 3rem;
    --header-padding-inline: 1rem;
    --button-border-radius: 5px;
    --light-gray: #eee;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: var(--light-gray);
    border-radius: var(--button-border-radius);
    border-style: none;
    height: 2rem;
    padding-inline: 1.5em;
}

.a11yText {
    display: block;
    position: absolute;
    left: -9999px;
}

button:active {
    background-color: #ccc;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.header, .geolocation, .footer {
    padding-inline: var(--header-padding-inline);
    height: var(--header-height);
    display: flex;
    align-items: center;
}

.header--nav ul {
    list-style: none;
    height: 100%;
}

.header--nav li {
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding-inline: 0.3rem;
}

.otherAppsButton {
    width: 2rem;
    height: 2rem;
    padding: 0;
    border-style: none;
}

.signInButton {
    height: 2rem;
    border-style: none;
    background-color: royalblue;
    color: white;
}

.signInButton:focus, .signInButton:hover {
    background-color: cornflowerblue;
}

.signInButton:active {
    color: silver;
}

main {
    flex: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.branding {
    font-weight: bold;
    -webkit-text-stroke: 1px silver;
    font-size: 0;
    margin: 2rem;
}

.branding > span {
    font-size: 5rem;
}

.branding :nth-child(1) { color: red; }
.branding :nth-child(2) { color: orange; }
.branding :nth-child(3) { color: gold; }
.branding :nth-child(4) { color: green; }
.branding :nth-child(5) { color: blue; }
.branding :nth-child(6) { color: purple; }

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.search--field {
    border: 1px solid silver;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 1.2rem;
}

.search--field--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.25em;
}

.search--field--input {
    width: 40vw;
    border-style: none;
    padding: 0;
    text-align: center;
}

.languagePicker {
    width: 100%;
    display: flex;
    justify-content: center;
}

.languagePicker--label {
    padding-right: 1rem;
}

.geolocation {
    border-bottom: 1px solid silver;
}

.geolocation--more {
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    color: blue;
}

.geolocation--more:active, .geolocation--more:hover {
    border: 1px solid blue;
}

.geolocation, .footer {
    background-color: var(--light-gray);
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer li {
    display: inline-block;
}

.footer a {
    padding-inline: 0.3rem;
}