:root {
    --header-height: 4rem;
    --header-padding-inline: 1rem;
    --button-border-radius: 5px;
    --light-gray: #eee;

    /* These will all be replaced with JavaScript
     * The otherApps dialog is not used if JavaScript isn't available. */
    --oaDialogWidth: 15rem;
    --oaDialogHeight: 15rem;
    --oaDialogTop: var(--header-height);
    --oaDialogLeft: 100px;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.button {
    background-color: var(--light-gray);
    border-radius: var(--button-border-radius);
    border-style: none;
    height: 2rem;
    padding-inline: 1.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.a11yText {
    display: block;
    position: absolute;
    left: -9999px;
}

.button:active {
    background-color: #ccc;
}

ul {
    margin: 0;
    padding: 0;
}

.index .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: flex-end;
}

.header, .geolocation, .footer {
    padding-inline: var(--header-padding-inline);
    height: var(--header-height);
    display: flex;
    align-items: center;
}

.header--nav ul {
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header--nav li {
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding-inline: 0.3rem;
}

.otherAppsButton {
    width: 1.25rem;
    height: 1.25rem;
    padding: 0.5rem;

    border-style: none;
    border-radius: 0.25rem;
}

.otherAppsButton:hover {
    background-color: var(--light-gray);
}

.signInButton {
    height: 2rem;
    border-style: none;
    background-color: royalblue;
    color: white;
}

.signInButton:focus, .signInButton:hover {
    background-color: cornflowerblue;
}

.signInButton:active {
    color: silver;
}

main {
    flex: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.branding {
    --letter-size: 5rem;
    --branding-margin: 1.5rem;
    height: calc(((100% - var(--header-height) * 3)/2) - var(--branding-margin) + var(--letter-size) / 2);
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    /* This avoids the spaces between spans in the branding area */
    font-size: 0;
    margin: var(--branding-margin);
    display: flex;
    align-items: flex-end;
}

.branding > span {
    font-size: var(--letter-size);
}

.branding :nth-child(1) { color: indianred; }
.branding :nth-child(2) { color: orange; }
.branding :nth-child(3) { color: gold; }
.branding :nth-child(4) { color: mediumseagreen; }
.branding :nth-child(5) { color: cornflowerblue; }
.branding :nth-child(6) { color: mediumorchid; }

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.search--field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search--field--input {
    width: 40vw;
    max-width: 35rem;
    min-width: 25rem;
    padding: 0.75rem 2rem;
    border-radius: 1.25rem;
    border: 1px solid silver;
}

.search--field--input:focus {
    outline-color: gray;
}

.search--field--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1em;
    height: 1em;
    display: grid;
    place-items: center;
}

.search--field--icon:first-of-type {
    left: 1.5rem;
}

.search--field--icon:last-of-type {
    right: 1.5rem;

    background-image: linear-gradient(to bottom,
        black 0 50%,
        cornflowerblue 50% 75%, indianred, orange, gold, mediumseagreen, orchid
    );

    background-size: auto 200%;
    background-position: top;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    transition-property: background-position;
    transition-duration: 100ms;
}

.search--field--input:focus ~ .search--field--icon {
    background-position: bottom;
}

.languagePicker {
    width: 100%;
    display: flex;
    justify-content: center;
}

.languagePicker--label {
    padding-right: 1rem;
}

.geolocation {
    border-bottom: 1px solid silver;
}

.geolocation--more {
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    color: blue;
}

.geolocation--more:active, .geolocation--more:hover {
    border: 1px solid blue;
}

.geolocation, .footer {
    background-color: var(--light-gray);
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer li {
    display: inline-block;
}

.footer a {
    padding-inline: 0.3rem;
}

.otherApps .icons {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: yellow;
}

.otherApps .icon {
    outline: 1px solid red;
}

.otherApps .icon a {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otherApps .icon a, .otherApps .icon a:hover {
    text-decoration: none;
}

.otherApps .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.otherApps.inline {
    position: fixed;
    top: var(--oadialog-top);
    right: var(--oadialog-right);
    width: var(--oadialog-width);
    height: var(--oadialog-height);
}