html, body {
    --header-height: 4rem;
    --header-padding-inline: 1rem;
    --button-border-radius: 5px;
    --light-gray: #eee;
    --signInButton-width: 5.5rem;
    --otherAppsButton-size: 1.25rem;
    --header--nav-gap: 1.3rem;

    --otherApps-icon-gap: 0.5rem;
    --otherApps-icon-width: 3.25rem;
    --otherApps-icon-height: 2.25rem;
    --otherApps-icon-padding: 0.5rem;
    --otherApps-margin: 1rem;

    margin: 0;
    height: 100%;
    font-family: sans-serif;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 var(--header-height);
    display: flex;
    justify-content: flex-end;
}

.header--nav {
    padding-inline: var(--header--nav-gap);
}

.header--nav ul {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    gap: var(--header--nav-gap);
    align-items: center;
}

.header--nav li {
    height: 100%;
    display: inline-flex;
    align-items: center;
}

.header--nav a {
    color: black;
    text-decoration: none;
}

.header--nav a:hover {
    text-decoration: underline;
}

.otherAppsButton {
    width: var(--otherAppsButton-size);
    height: var(--otherAppsButton-size);
    padding: 0.5rem;

    border-style: none;
    border-radius: 0.25rem;
}

.otherAppsButton:hover, .otherAppsButton.active {
    background-color: var(--light-gray);
}

.otherAppsButton.active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.header--nav .signInButton {
    width: var(--signInButton-width);
    border-style: none;
    background-color: dodgerblue;
    color: white;
    border-radius: var(--button-border-radius);
}

.header--nav .signInButton:hover, .header--nav .signInButton:focus {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

.header--nav .signInButton:active {
    background-color: royalblue;
    box-shadow: none;
}

main {
    flex: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.branding {
    --letter-size: 5rem;
    --branding-margin: 1.5rem;
    height: calc(
        (100% - var(--header-height) * 3)/2
        - var(--branding-margin)
        + var(--letter-size) / 2
    );
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    /* This avoids the spaces between spans in the branding area */
    font-size: 0;
    margin: var(--branding-margin);
    display: flex;
    align-items: flex-end;
}

.branding > span {
    font-size: var(--letter-size);
}

.branding > span:hover {
    animation-name: wiggle;
    animation-duration: 500ms;
}

@keyframes wiggle {
    0%   { transform: rotate(15deg)  }
    50%  { transform: rotate(-15deg) }
    100% { transform: rotate(0deg)   }
}

.branding :nth-child(1) { color: indianred; }
.branding :nth-child(2) { color: orange; }
.branding :nth-child(3) { color: gold; }
.branding :nth-child(4) { color: mediumseagreen; }
.branding :nth-child(5) { color: cornflowerblue; }
.branding :nth-child(6) { color: mediumorchid; }

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.search--field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search--field--input {
    width: 40vw;
    max-width: 35rem;
    min-width: 25rem;
    padding: 0.75rem 2rem;
    border-radius: 1.25rem;
    border: 1px solid silver;
}

.search--field--input:focus {
    outline-color: gray;
}

.search--field--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 1em;
    height: 1em;
    display: grid;
    place-items: center;
}

.search--field--icon:first-of-type {
    left: 1.5rem;
}

.search--field--icon:last-of-type {
    right: 1.5rem;

    background-image: linear-gradient(to bottom,
        black 0 50%,
        cornflowerblue 50% 75%, indianred, orange, gold, mediumseagreen, orchid
    );

    background-size: auto 200%;
    background-position: top;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    transition-property: background-position;
    transition-duration: 100ms;
}

.search--field--input:focus ~ .search--field--icon {
    background-position: bottom;
}

.search--buttons {
    display: flex;
    gap: 0.75rem;
}

.search--buttons .button {
    background-color: var(--light-gray);
    color: black;
    text-decoration: none;
    box-shadow: 0 0 0 1px transparent;
    padding-inline: 1.5rem;
}

.search--buttons .button:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}

.languagePicker {
    width: 100%;
    display: flex;
    justify-content: center;
}

.languagePicker--label {
    padding-right: 1rem;
}

.geolocation {
    border-bottom: 1px solid silver;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.geolocation--info table {
    margin: 1rem;
}

.geolocation--info th, .geolocation--info td {
    border: 1px solid white;
}

label[for="geolocation--more"] {
    background-color: silver;
    padding: 0.25rem 0.5rem;
    border: 1px solid transparent;
    border-radius: var(--button-border-radius);
}

label[for="geolocation--more"]:hover {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.geolocation--more:checked ~ label[for="geolocation--more"] {
    border: 1px inset gray;
}

.geolocation--more {
    position: absolute;
    left: -999cm;
}

.geolocation--info {
    flex: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms;
}

.geolocation--more:checked ~ .geolocation--info {
    max-height: 30rem;
}


.geolocation, .footer {
    background-color: var(--light-gray);
    padding-inline: var(--header-padding-inline);
    /*
    height: var(--header-height);
    */
    flex: var(--header-height);
    display: flex;
    align-items: center;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer li {
    display: inline-block;
}

.footer a {
    padding-inline: 0.3rem;
}

.otherAppsFrame {
    width: calc(
        var(--otherApps-icon-width) * 3
        + var(--otherApps-icon-gap) * 2
        + var(--otherApps-icon-padding) * 6
        + var(--otherApps-margin) * 2
    );
    height: 300px;
    height: calc(
        var(--otherApps-icon-height) * 3
        + var(--otherApps-icon-padding) * 6
        + var(--otherApps-icon-gap) * 2
        + var(--otherApps-margin) * 2
    );

    position: absolute;
    top: var(--header-height);
    right: calc(var(--signInButton-width) + var(--header--nav-gap) * 2);

    border: none;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem 0 0 0.25rem;
}

.otherApps .container {
    margin: var(--otherApps-margin);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.otherApps .icons {
    display: grid;
    gap: var(--otherApps-icon-gap);
    grid-template-columns: repeat(3, 1fr);
}

.otherApps .icon a {
    color: black;
    line-height: 1.5em;
}

.otherApps .icon a {
    width: var(--otherApps-icon-width);
    height: var(--otherApps-icon-height);
    padding: var(--otherApps-icon-padding);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;
}

.otherApps .icon a, .otherApps .icon a:hover {
    text-decoration: none;
}

.otherApps .icon a:hover {
    background-color: var(--light-gray);
}

.a11yText {
    display: block;
    position: absolute;
    left: -9999px;
}

.button {
    border-style: none;
    height: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.button:active {
    background-color: #ccc;
}

.error {
    color: crimson;
}